alabaster==0.7.12
attrs==20.3.0
Babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
Click==7.0
coverage==5.0.3
DBUtils==2.0.1
docutils==0.17
gitdb==4.0.7
GitPython==0.3.6
idna==2.10
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.7.0
nose==1.3.7
packaging==20.9
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pydbwrapper==1.1.6
Pygments==2.8.1
pyparsing==2.4.7
pypi-publisher==0.0.4
pytest==5.3.5
pytest-cov==2.8.1
pytest-env==0.6.2
python-dotenv==0.17.0
pytz==2021.1
pyway==0.2.0
requests==2.25.1
smmap==4.0.0
snowballstemmer==2.1.0
Sphinx==2.3.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.6
urllib3==1.26.4
wcwidth==0.2.5
